{% extends 'base.html' %}

{% block title %}{{location.name}}{% endblock title %}

{% block content %}

<h3>Update {{product.name}}</h3>

<form action="" method="post">
    {% csrf_token%}
    Location: {{product.location}}
    <div class="form-group my-3">
        <label for="qty">{{form.qty.label}}</label>
        {{form.qty}}
    </div>
    <button type="submit" class="btn btn-info btn-sm">Update Product</button>
</form>

<script>
    document.getElementById("id_qty").classList.add("form-control","form-control-sm");
</script>

{% endblock content%}